// src/app/components/header/header.component.scss

@import 'colors'; // Importa las variables globales de color

.header-intro {
    width: 100%; // El contenedor principal ocupa todo el ancho de la pantalla
    background-color: $secondary-color; // Color de fondo del contenedor
    padding: 2rem 0; // Espaciado superior e inferior
    display: flex; // Usar flexbox para alinear el contenido
    justify-content: center; // Centrar el contenido horizontalmente

    .content {
        width: 75%; // Contenedor interno con ancho del 80%
        margin: 0 auto; // Centrado horizontalmente
        display: flex; // Aplicar flexbox al contenido
        flex-direction: column; // Colocar los elementos uno debajo de otro
        align-items: center; // Centrar los elementos dentro del contenedor
    }

    .profile-teaser {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap; // Permitir que el contenido se ajuste en pantallas pequeñas

        .profile-image-wrapper {
            flex: 1;
            display: flex;
            justify-content: center; // Centrar la imagen dentro de su contenedor
            margin: 0 1rem;

            .profile-image {
                max-width: 250px;
                border-radius: 10px;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

                &:hover {
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
                }
            }
        }

        .profile-text {
            flex: 3;
            margin: 1rem;

            .lead {
                font-size: 1.2rem;
                font-weight: 300;
                color: $text-color;
            }

            .name {
                font-size: 2.5rem;
                margin: 0.5rem 0;
                color: $text-color;
            }

            .bio {
                font-size: 1rem;
                line-height: 1.6;
                margin-bottom: 1.5rem;
                color: $text-color;

                .link-on-bg {
                    color: $primary-color;
                    text-decoration: none;

                    &:hover {
                        color: $hover-color;
                    }
                }
            }

            .cta-button {
                margin-top: 1.5rem;
                padding: 0.8rem 2rem;
                font-size: 1.1rem;
                background-color: $primary-color;
                color: $text-color;

                &:hover {
                    background-color: $hover-color;
                }
            }
        }
    }
}
