<div class="main">
    <h2 class="projects-title">Proyectos Destacados</h2>
    <p class="section-intro">
        Aquí encontrarás una selección de proyectos propios y colaborativos en los que he participado. En cada uno de ellos he aplicado mis conocimientos en tecnologías como Angular, Vue, Laravel, Python y otras herramientas con las que me siento cómodo trabajando. Estos proyectos reflejan mi capacidad para afrontar retos diversos y desarrollar soluciones eficientes y escalables, tanto de manera independiente como en equipo. Desde desarrollo full-stack hasta integración de sistemas complejos y análisis de datos, mi experiencia abarca diferentes áreas que demuestran mi versatilidad y dedicación en cada proyecto.
    </p>
    <div class="card-container">
        <app-card-project
            *ngFor="let project of projects"
            [imagePath]="project.imagePath"
            [title]="project.title"
            [description]="project.description"
            [url]="project.url"
            [technologies]="project.technologies">
        </app-card-project>
    </div>
</div>


