<!-- src/app/components/card/card.component.html -->
<mat-card class="skills-card">
    <div class="skills-icon-wrapper">
        <mat-icon [svgIcon]="skillIcon"></mat-icon>
    </div>

    <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <ul class="skills-list">
            <li *ngFor="let skill of skills">
                <mat-icon class="check-icon">check</mat-icon> {{ skill }}
            </li>
        </ul>
    </mat-card-content>
</mat-card>
